<!DOCTYPE html>
<html>
<!-- Developed by Anand Chandra -->
<head>
  <title>hz</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="hz">
  <meta name="author" content="Anand Chandra">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <script src="/javascripts/scrollImages.js"></script>
</head>

<body>
	<div class="container-fluid content-container">

		<!-- logo and download button -->
		<img class="img-responsive logo" src="/images/hz.png" alt="logo">
		<a href="#"><button class="btn download-btn">download</button></a>

		<!-- screenshot and info -->
		<img id="image" class="img-responsive screenshot" src="/images/hzscreen.png" alt="screenshot">
		<img id="second-image" class="img-responsive screenshot" src="/images/hzscreen.png" alt="screenshot">
		<h1 class="header">introducing hz</h1>
		<h1 id="details" class="details">never miss a note again.</h1>
		<h1 id="second-details" class="details">never miss a note again.</h1>

		<!-- bottom bar -->
		<div id="base" class="bottom-base"></div>
		<div id="border" class="bottom-border"></div>

	</div>
</body>

</html>