html,
body {
  margin: 0px;
  padding: 0px;
}

.content-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}



/*.logo {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 100px;
  height: 100px;
}*/

.download-btn {

  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;

  outline: none;
}

.contact-btn {
  background-color: #07575B;

  text-align: center;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;

  outline: none;

  border-radius: 12px;
  position: absolute;
}


@media only screen and (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  /*  .top-bar {
  	position: absolute;
  	top: 0;
  	left: 0;

  	width: 100vw;
  	height: 22vw;
  }*/
  .logo {
    position: absolute;
    left: 40vw;
    top: 0;
    width: 20vw;
    height: 20vw;
  }

  .download-img {
    position: absolute;

    left: 5vw;


    width: 10vw;
    height: 10vw;
    top: 2vh;
  }
  /*  .contact-img {

  }*/
  .contact-btn-details {
    background-color: #FFFFFF;
    border: none;
    padding: 0;

    background-image: url(/images/mobile/envelope.png);
    background-size: 10vw 10vw;
    background-position: 0 0;
    background-repeat: no-repeat;


    right: 5vw;


    width: 10vw;
    height: 10vw;
    top: 2.5vh;
  }

  .download-btn-details {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    background-image: url(/images/mobile/download.png);
    background-size: 10vw 10vw;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .download-btn-location {
    position: absolute;

    left: 5vw;


    width: 10vw;
    height: 10vw;
    top: 2vh;


    /*left: 10vw;
    top: 85vh;

    width: 150px;

    height: 50px;*/
  }

  .screenshot {
    position: absolute;
    left: 25vw;
    top: 34vh;
    width: 45vw;
    height: 91.556vw;
  }

  .header-location {
    text-align: center;
    position: absolute;
    font-size: 30px;
    top: 12vh;
    width: 100vw;
    left: 0;
  }

  .details-location {
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 20vh;
    width: 100vw;
    left: 0;
  }
}



/*@media only screen and (min-width:481px) {
   portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
}*/

@media only screen and (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100px;
    height: 100px;
  }

  .download-btn-details {
    background-color: #5DBCD2;
    border-radius: 15px;
    font-size: 24px;
    padding-left: 25px;
    background-image: url(/images/apple.png);
    background-size: 25px 25px;
    background-position: 35px 12px;
    background-repeat: no-repeat;
  }
  .screenshot {
    position: absolute;
    left: 12vw;
    top: 14vh;
    width: 76vw;
    height: 67.336vw;
  }

  .header-location {
    text-align: left;
    position: absolute;
    font-size: 45px;
    top: 69.66vh;
    left: 10vw;
  }

  .details-location {
    text-align: left;
    position: absolute;
    font-size: 30px;
    top: 79.266vh;
    left: 10vw;
  }

  .download-btn-location {
    position: absolute;

    left: 10vw;
    top: 90vh;

    width: 250px;
    /*edited*/
    height: 55px;
    /*edited*/
  }

  .contact-btn-details {

    background-color: #07575B;
    background-image: none;

    right: 30px;


    width: 120px;
    height: 40px;
    font-size: 16px;
    top: 35px;
  }
}

@media only screen and (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100px;
    height: 100px;
  }

  .download-btn-details {
    background-color: #5DBCD2;
    border-radius: 15px;
    font-size: 24px;
    padding-left: 25px;
    background-image: url(/images/apple.png);
    background-size: 25px 25px;
    background-position: 35px 12px;
    background-repeat: no-repeat;
  }

  .screenshot {
    position: absolute;
    left: 5vw;
    /*top: 150px;*/
    top: 16vh;
    width: 50vw;
    height: 44.3vw;
  }

  .header-location {
    text-align: left;
    position: absolute;
    font-size: calc(2.3vw + 2.3vh);
    top: 26.66vh;
    left: 58vw;
  }

  .details-location {
    text-align: left;
    position: absolute;
    font-size: calc(1.53vw + 1.53vh);
    top: 36.266vh;
    left: 58vw;
  }

  .download-btn-location {
    position: absolute;

    left: 58vw;
    top: 48vh;

    width: 250px;
    /*edited*/
    height: 55px;
    /*edited*/
  }
  .contact-btn-details {
    background-color: #07575B;
    background-image: none;

    top: 30px;
    right: 30px;


    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}




.header {
  /*font-size: 60px;*/
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}



.details {
  color: gray;
  /*font-size: 40px;*/
  font-weight: normal;
  list-style-type: circle;

  font-family: 'Work Sans', sans-serif;
}



.bottom-border {
  position: absolute;
  background-color: #5DBCD2;
  left: 0;
  bottom: 0;
  width: 20vw;
  height: 1vh;
}

.bottom-base {
  position: absolute;
  background-color: #CCCCCC;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 1vh;
}